.contact-form {
  max-width: 60vw;
  margin: 50px auto;
  background-color: #626262;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.contact-form__fieldset {
  border: none;
  margin: 0 auto;
  width: 90%;
}

.contact-form__legend {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(244, 244, 244);
  color: rgb(140, 0, 0);
  text-align: center;
}

.contact-form__label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #ccc;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__input:valid {
    width: 100%;
  margin-bottom: 20px;
  padding: 12px 0;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-size: 16px;
  transition: border-color 0.3s;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  border-color: #d08800;
  outline: none;
}
.contact-form__button-wrapper {
  text-align: center;
}
.contact-form__button {
  background-color: rgba(50, 23, 0, 1);
  color: white;
  padding: 12px 40px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form__button:hover {
  background-color: rgb(61, 29, 0);
}
@media only screen and (max-width: 600px){
  .contact-form {
  max-width: 80vw;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
}
